
body {
    margin: 0;
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    border-bottom: 2px solid blue;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
}

.headerContent {
    display: flex;
}

.headerLoginContainer a{
    margin: 5px;
}

.login, .cart {
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

.cartCountCont {
    border: 1px solid green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8px;
}

.mainContent{
    flex-grow: 1;
}

.outerProductsContainer {
    display: flex;
    justify-content:space-around;
    flex-flow: row wrap;}

.itemContainer {
    height: 150px;
    width: 150px;
    border: 2px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.itemImageContainer {
    display: flex;
    justify-content: center;
}

.itemImageContainer img {
    height: 100px;
}

.itemSelectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.itemSelectContainer img {
    height: 30px;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartItemContainer {
    display: flex;
    border: 2px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 60vw;
    margin: 10px;
    justify-content: space-around;
}

.cartItemQuantContainer {
    display: flex;
}

.cartFooter {
    border-top: 4px solid green;
    height: 30px;
    width: 60vw;
    margin: 10px;
    text-align: right;
}

.footer {
    border-top: 2px solid blue;
}