body {
    margin: 0;
}

.header {
    border-bottom: 2px solid blue;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
}

.headerContent {
    display: flex;
}

.login, .cart {
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

.cartCountCont {
    border: 1px solid green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8px;
}