@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');


body {
    margin: 0;
    font-family: 'Noto Sans Display';
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
}

.headerContent {
    display: flex;
}

.headerLoginContainer{
    padding-top: 11px;
    margin: 0px 30px;
}

.headerLoginContainer a{
    margin: 5px;
    text-decoration: none;
    margin: 0px 15px;
}

.headerLoginContainer a:link{
    color: inherit
}

.cartInHeader {
    padding-top: 8px;
    text-decoration: none;
    background-color: rgba(211, 211, 211, 0.384);
}

.login, .cart {
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

.login a {
    text-decoration: none;
    margin-top: 2px;
}

.cartCountCont {
    border: 1px solid green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 8px;
}

.mainContent{
    flex-grow: 1;
    background-image: url('https://pern-webapp-server.herokuapp.com/public/woven.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5vh;
}

.innerProductsContainer{
    display: flex;
    justify-content:space-around;
    flex-flow: row wrap;
}

.itemContainer {
    height: 200px;
    width: 175px;
    border-width: 3px;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    transition: all .35s ease-in-out;
}

.itemContainer:hover {
    transform: scale(1.1); 
}

.itemImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemImageContainer img {
    height: 100px;
}

.itemSelectContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.itemSelectContainer img {
    height: 30px;
}

.productInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productInfoContainer h2{
    font-size: 2.5em;
    margin-top: 5px;
}

.productInfoContainer p{
    font-size: 1.25em;
}

.productImg {
    height: 35vh;
    max-width: 100%;
}

.productInfoContainer button {
    margin: 5px;
}

.productDescription {
    margin: 10px;
}

.cartHeaderCont{
    display: flex;
    width: 550px;
}

.cartHeaderCont p {
    font-weight: bold;
}

.CHProdCont {
    margin-left: 23px;
}

.CHQuantCont{
    margin-left: 85px;
}

.CHUPriceCont {
    margin-left: 45px;
}

.CHSubCont{
    margin-left: 55px;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 280px;
}

.cartItemContainer {
    display: flex;
    border-bottom: 2px solid grey;
    height: 30px;
    width: 550px;
    margin: 10px;
    justify-content: space-around;
}

.cartItemContainer p {
    margin-block-start: 0;
}

.cartItemNameCont {
    width: 100px;
}

.cartItemQuantContainer {
    display: flex;
}

.cartItemQuantContainer button {
    margin: 0px 5px 
}

.cartItemUPCont, .cartItemSTCont{
    width: 50px;
}



.cartFooter {
    border-top: 4px solid green;
    height: 30px;
    width: 550px;
    margin: 10px;
    text-align: right;
}

.paymentsContainer {
    text-align: left;
}

.loginContainer, .registerContainer {
    border: 2px solid green;
    margin-left: 30vw;
    margin-right: 30vw;
    font-size: 1.5rem;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 5px;
    padding: 5px;
    background-color: #bebebe85;
    min-width: 250px;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputContainer input {
    width: 25vw;
    font-size: 1.5rem;
    min-width: 200px;
}

.loginButton, .registerButton {
    font-size: 1.5rem;
    width: 20vw;
    margin-left: 10vw;
    margin-top: 15px;
}

.registerLink, .memberLink {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.footer img{
    height: 40px;
    width: 40px;
    margin-left: 5px;
}