.orderHistoryContainer {
    border: 1px solid green;
    padding-left: 10vw;
}

.oHHeader {
    display: flex;
}

.orderContainer {
    display: flex;
    
}

.orderItemsContainer {
    display: flex;
    flex-direction: column;
}

.orderColumn {
    width: 16vw;
}