.orderHistoryContainer {
    border: 1px solid green;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #bebebe85;
}

.oHHeader {
    display: flex;
}

.oHHeader p{
    font-weight: bold;
    font-size: large;
}

.orderContainer {
    display: flex;
    border-bottom: dotted 1px black;
}

.orderItemsContainer {
    display: flex;
    flex-direction: column;
}

.orderItemsContainer p {
    margin: 2px;
}

.orderColumn {
    width: 16vw;
}

h2 {
    text-align: center;
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}